#content-inner
  margin: 0 auto
  width: $content-width

a
  color: $a-link-color
  transition: all 0.2s

  &:hover
    color: $a-hover-color
    text-decoration: none

a.fancybox
  outline: none

img
  padding: $img-border-padding
  max-width: 100%
  border: 1px solid $img-border-color
  transition: all 0.2s

  &:hover
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5)

@media screen and (max-width: $sm)
  #content-inner
    margin: 0 24px
    width: auto

@media screen and (min-width: $md)
  #content-inner
    width: $content-large-width
