.recent-post-item
  margin: 1.6rem 0 2rem

  time
    color: $grey

  .more
    display: inline-block
    padding: 0 0.6rem
    height: h = 1.6rem
    background: $light-blue
    color: $white
    text-align: center
    text-decoration: none
    line-height: h
    cursor: pointer
    transition: all 0.2s ease-in-out

    &:hover
      background: $ruby

  .article-title
    display: block
    margin-bottom: 0.3rem
    border-bottom: 1px solid $light-grey
    color: $font-black
    text-decoration: none
    font-size: 1.4rem
    cursor: pointer
    cursor: pointer
    transition: all 0.2s ease-in-out

    &:hover
      border-bottom: 1px solid $light-blue
      color: $light-blue
