if (theme.sharejs && theme.sharejs.enable)
  .social-share(data-disabled=theme.sharejs.disabled_sites)
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js")