$highlight_theme = hexo-config("highlight_theme")

if $highlight_theme == "light"
  $highlight-deletion = #fdd
  $highlight-addition = #dfd
else
  $highlight-addition = #008000
  $highlight-deletion = #800000
