#local-search
  .local-search-box
    margin: 0 auto
    max-width: 100%
    width: 100%

    input
      padding: 0.25rem 0.7rem
      width: 100%
      outline: none
      border: 2px solid $light-blue
      border-radius: 2rem