// global
$font-size = 14px
$font-color = #1F2D3D
$rem = 20px
// $font-family = 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
$font-family = Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif
$text-line-height = 2
$sm = 768px
$md = 1300px
$lg = 1450px
$sidebar-icon-top = 20px
$sidebar-icon-left = $sidebar-icon-top
$sidebar-icon-size = 16px
$go-up-bottom = 2 * $sidebar-icon-top
$go-up-right = -($sidebar-icon-left)
$pale-blue = #A4D8FA
$light-blue = #49B1F5
$blue = #1B9EF3
$dark-blue = #0790E8
$orange = #F1BE48
$pale-green = #B4E1C1
$light-green = #69C282
$green = #44B363
$dark-green = #379F54
$pale-cyan = #D1F4F2
$light-cyan = #8CE4DE
$cyan = #00C4B6
$pale-red = #F9b9b3
$light-red = #F47466
$red = #F15140
$dark-red = #E63E2C
$ruby = #FF7242
$light-black = #3B3A3A
$black = #2E2E2E
$dark-black = #000000
$pale-grey = #F7F7F7
$light-grey = #EEEEEE
$grey = #858585
$white = #FFFFFF
$dark-white = #F9F9F9
$font-black = #4C4948
$selection = $cyan
// code
$code-font-size = $font-size
$code-font-family = $font-family
$code-foreground = $font-color
$code-background = rgba(27, 31, 35, 0.05)
$line-height-code-block = 20px
$blockquote-color = #6a737d
$blockquote-padding-color = #dfe2e5
// page
$content-width = 700px
$content-large-width = 900px
$a-link-color = #99a9bf
$a-hover-color = #82AAFF
$img-border-color = #eaeefb
$img-border-padding = 4px
// sidebar
$sidebar-width = 300px
$sidebar-background = #f6f8fa