// global
$font-size = 14px
$font-color = #1F2D3D
$font-family = 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
$text-line-height = 2
$sm = 768px
$md = 1280px
$lg = 1440px
$sidebar-icon-top = 20px
$sidebar-icon-left = $sidebar-icon-top
$sidebar-icon-size = 16px
// code
$code-font-size = $font-size
$code-font-family = $font-family
$code-foreground = $font-color
$code-background = rgba(27, 31, 35, 0.05)
$line-height-code-block = 16px
// page
$content-width = 700px
$content-large-width = 900px
$a-link-color = #99a9bf
$a-hover-color = #82AAFF
$img-border-color = #eaeefb
$img-border-padding = 4px
// sidebar
$sidebar-width = 300px
$sidebar-background = #f6f8fa