if theme.disqus.enable
  include ./disqus.pug
else if theme.laibili && theme.laibili.enable
  include ./laibili.pug
else if theme.gitment && theme.gitment.enable
  include ./gitment.pug
else if theme.gitalk && theme.gitalk.enable
  include ./gitalk.pug
else if theme.valine && theme.valine.enable
  include ./valine.pug
else if theme.vssue && theme.vssue.enable
  include ./vssue.pug
else if theme.waline && theme.waline.enable
  include ./waline.pug
