#local-search.search-dialog
  #local-search-title.search-dialog__title Local Search
  #local-input-panel
    #local-search-input
      .local-search-box
        input(placeholder=theme.local_search.labels.input_placeholder).local-search-box--input
  hr
  #local-search-results
    #local-hits
    #local-pagination
    #local-stats
  span.search-close-button
    i.fa.fa-times
.search-mask