if (theme.algolia_search.enable)
  script(src=url_for('/js/search/algolia.js'))
if (theme.mathjax && theme.mathjax.enable)
  if(!is_tag() && !is_category() && !is_archive())
    include ./third-party/mathjax.pug
if (theme.katex && theme.katex.enable)
  if(!is_tag() && !is_category() && !is_archive())
    include ./third-party/katex.pug
if (theme.local_search && theme.local_search.enable)
  script(src=url_for('/js/search/local-search.js'))
if (theme.canvas_ribbon && theme.canvas_ribbon.enable)
  include ./third-party/canvas-ribbon.pug
script.
  if(/Android|webOS|iPhone|iPod|iPad|BlackBerry/i.test(navigator.userAgent)) {
    $('#nav').addClass('is-mobile')
    $('footer').addClass('is-mobile')
    $('#top-container').addClass('is-mobile')
  }
