-
  var algolia;
  if (theme.algolia_search.enable) {
    algolia = JSON.stringify({
      appId: config.algolia.appId || config.algolia.applicationID,
      apiKey: config.algolia.apiKey,
      indexName: config.algolia.indexName,
      hits: theme.algolia_search.hits,
      labels: theme.algolia_search.labels
    })
  } else {
    algolia = 'undefined'
  }
script.
  var GLOBAL = { 
    root: '!{config.root}',
    algolia: !{algolia}
  } 