footer
  margin-top: 1rem
  background: $light-blue
  background-image: url($bg-svg + "")
  background-attachment: fixed

#footer
  padding: 2rem 1rem
  color: $light-grey
  text-align: center

  a
    color: $light-grey
    text-decoration: none
    cursor: pointer

    &:hover
      color: $white

#busuanzi
  &_value
    &_site_uv,
    &_site_pv,
    &_page_pv
      margin: 0 0.2rem