#pagination
  overflow: hidden
  margin-top: 1rem

  .pagination
    text-align: center

  i.fa.fa-chevron-left
    margin-right: 0.3rem
    cursor: pointer

  i.fa.fa-chevron-right
    margin-left: 0.3rem
    cursor: pointer

  .space
    color: $a-link-color

  .page-number
    display: inline-block
    margin: 0 0.2rem
    min-width: w = 1.2rem
    height: w
    text-align: center
    line-height: w
    cursor: pointer

    &.current
      background: $cyan
      color: $white
      cursor: default