.tag-cloud-links 
  font-size: 0.7rem
  margin: 20px 0
  .tag-link 
    display: inline-block
    position: relative
    text-align: center
    color: #fff
    background: $tag-bg
    border-radius: 18px
    text-decoration: none
    padding: 0px 12px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
    &:hover 
      background-color: $sky-blue
      transition: background-color .4s cubic-bezier(0.075, 0.82, 0.165, 1)
  .active-tag 
    background-color: $sky-blue
    transition: background-color .4s cubic-bezier(0.075, 0.82, 0.165, 1)

