body
  position: relative
  color: $font-color
  font-size: $font-size
  font-family: $font-family
  line-height: $text-line-height

#toggle-sidebar
  position: fixed
  top: $sidebar-icon-top
  left: $sidebar-icon-left
  z-index: 100
  font-size: $sidebar-icon-size
  cursor: pointer

.go-up
  position: fixed
  right: $go-up-right
  bottom: $go-up-bottom
  z-index: 100
  font-size: $sidebar-icon-size
  opacity: 0
  cursor: pointer

.fancybox-caption
  text-align: center

.fireworks
  position: fixed
  z-index: 11
  pointer-events: none

@media screen and (max-width: $sm)
  i.toggle-sidebar
    display: none
