body
  position: relative
  color: $font-color
  font-size: $font-size
  font-family: $font-family
  line-height: $text-line-height

.toggle-sidebar
  position: fixed
  top: $sidebar-icon-top
  left: $sidebar-icon-left
  font-size: $sidebar-size
  cursor: pointer

.fancybox-caption
  text-align: center
